[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
pytest = "*"
moto = "==1.3.6"
boto3 = "==1.7.84" # https://github.com/spulec/moto/issues/1941
twine = "*"
pytest-cov = "*"
coveralls = "*"

[requires]
python_version = "3.6"
